*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}
.body {
    background: #6c6a6a;

}

/* hero area start */
.hero-area  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;

}
.nav-icon ul{
    display: flex;
    gap: 20px;
}
.nav-icon li{
    list-style: none;
    padding: 30px 0px;
}
.nav-icon  li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.manu-bar {
    display: none;
}
/* hero area end */

/* banner area start */
.banner-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 200px;
    gap: 40px;
}

.banner-content h1{
    font-size: 30px;
    margin-bottom: 5px;
}


.banner-content p {
    font-size: 20px;
    margin: 15px 0px;
}

.banner-img img {
    width: 400px;
    border: 3px solid #F1E4FF;
    border-radius: 50%;

    
}
.banner-content .btn {
    background: rgb(110, 7, 7);
    padding: 10px 10px;
    color: #fff;
    border: 0px;
    border-radius: 5px;

}
/* banner area end */

/* media area start */

.media-area {
    padding: 50px 100px;
    align-items: center;
}
.media {
   display: flex;
   justify-content: center;
   align-items: center;
   border-top: 1px solid #AAAAAA;;
   border-bottom: 1px solid #AAAAAA;;
}

.media-content {
    padding: 10px 20px;

}


/* media area end */

/* collection-area start */
.collection-area {
    padding: 0px 100px;
}
.collection-hadding h1{
    font-size: 30px;
    text-align: center;
    margin: 30px 0px;
} 
.total-collection {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.collection {
    background: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 30px 10px;
    border-radius: 7px;
}
.collection-img img {
    width: 100%
}

.collection-content h1,h2{
    margin: 20px 0px;
}

.collection-content .icon .one {
    color: goldenrod;
    margin-bottom: 20px;
}
.collection-content .icon .rating {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.link-more {
    text-align: end;
    margin: 40px 0px;
}
.link-more a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(165, 15, 15);

}

/* collection area end */

/* plan area start  */

.plan {
    padding: 40px 150px;
}
.product {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.product img {

}
.product-content {

}
.product-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.product-content p {
    font-size: 20px;
    margin: 20px 0px;
}

.product-content .btn {
    background:rgb(165, 15, 15);
    padding:10px 30px;
    font-size: 17px;
    color: #fff;
    border: 0px;
}

/* plan area end */
/* footer area start */

.conect-area {
    background: black;
    padding: 100px 0px;
    margin-top: 40px;
}
.conect {
    text-align: center;
    color: #fff;
}
.conect p {
    margin: 10px 0px;
}
.conect .icon {
    margin-top: 20px;
}
.conect .icon .fa-brands {
    color: #FFF;
    margin-right: 10px;
}
/* footer area end */

/* media quare start */

@media screen and (max-width: 557px){
 .hero-area {
   display: grid;
   
 }
 .nav-icon ul {
    display: grid;
    grid-template-columns: repeat( 1, 1fr);
    gap: 0px;

    
}
.nav-icon ul li {
    padding: 10px 0px;
}
.banner-area {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 10px;
}
.banner-content {
    text-align: center;
}
.banner-img img{
    width: 300px;
    height:300px
}

.media-area {
        padding: 20px 0px;
}
.media {
    display: grid;
    grid-template-columns: repeat(4,1fr);
} 
.media-content {
    text-align: center;
}
}
.media-content img{
    width: 50px;
    height: 50px;
}

.collection-area{
    padding: 0px 5px;
}
.total-collection {
    display: grid;
    grid-template-columns: 1fr;
}

.plan {
    padding: 0px 20px;
}
.product {
    flex-direction: column-reverse;
}
.product-img img{
    width: 300px ;
    height: 200px;
}
.product-content {
    text-align: center;
}




@media screen and (max-width: 557px){
    
}



/* media quare end */